<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<% article.comments.forEach(comment => { %>
  <hr />
<p style="font-style: italic;"><%= comment</p>
})


<a href="/">&larr; Back Home</a>
